<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="common-header" style="display: flex; flex-direction: column;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTopMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand font-weight-bold text-white" th:href="@{/}">Espedito Melo</a>

            <div class="collapse navbar-collapse" id="navbarTopMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/about}">About & Contact</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark bg-info">

        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCategories">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="nav-brand text-white" th:href="@{/}"><strong>All</strong></a>

            <div class="collapse navbar-collapse" id="navbarCategories">
                <ul class="navbar-nav">
                    <li class="nav-item" th:each="category : ${allCategories}">
                        <a class="nav-link text-white" th:href="@{'/postsbycategory/' + ${category.slugCategory}}"
                           th:text="${category.name}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

    <style>
        .navbar.bg-info .navbar-nav {
            padding-left: 1rem;
        }
    </style>

</header>
</html>